:host {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
}

.btn-login:hover {
  background-color: darkblue;
}

.btn-register {
  background-color: coral;
  color: #fff;
  margin-bottom: 15px;
}

.btn-register:hover {
  background-color: #ff5a1d;
}
