.card-about {
  background: #fff;
  color: #000;
  height: 100vh;
}

.card-header {
  margin-top: 1rem !important;
}

.margin-content {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.card-content {
  margin-top: 2rem;
  text-align: justify;
}
