<mat-card class="card-about">
  <mat-card-header class="card-header">
    <mat-card-title>About ngPost</mat-card-title>
    <mat-card-subtitle>
      These are posts about Angular.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    <div class="margin-content">

      <mat-icon>font_download</mat-icon>

      &nbsp;&nbsp;
      <span><b>Angular (web framework)</b></span>

      <p>
        Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a
        community of individuals and corporations. Angular is a complete rewrite from the same team that built
        AngularJS.
      </p>
      <p>
        Quickstart to work with Angular:
        <a href="https://angular.io/start" title="Do strony głównej" target="_blank">Get started in 5 minutes.</a>
      </p>
      <p>
        External links:
        <a href="https://angular.io/" title="Do strony głównej" target="_blank">Official website</a>
      </p>
    </div>

  </mat-card-content>
</mat-card>
