p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.card-footer {
  margin-top: 2.5rem !important;
}

.btn-view-post {
  background: #999;
}

.btn-view-post:hover {
  background: #bfbfbf;
}
