<div class="container" *ngIf="posts; else loading">
  <mat-card class="post-card" *ngFor="let post of posts">
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="['./post',post.id]">
          {{ post.titlePost }}
        </a>
      </mat-card-title>
    </mat-card-header>

    <img *ngIf="post.imagePost; else loading" matCardImage [src]="post.imagePost" />
    <ng-template #loading>
      <div class="container-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

    <mat-card-content>
      <p>
        {{post.contentPost}}
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>

    <mat-card-footer class="card-footer">
      <mat-chip-list aria-label="info selection">

        <mat-chip selected *ngFor="let tag of post.tagsPost" [ngClass]="tag">
          {{tag.charAt(0).toUpperCase()+ tag.slice(1)}}
        </mat-chip>

        <span style="flex: 1 1 auto;"></span>

        <button class="btn-view-post" mat-raised-button matTooltip="Info about the post" (click)="viewPost(post)">
          View
        </button>

      </mat-chip-list>
    </mat-card-footer>
  </mat-card>
</div>
<ng-template #loading>
  <div class="container-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
