<div class="container">
  <mat-card class="post-card" *ngFor="let post of posts">
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="['./post',post.id]">
          {{post.id}}. {{ post.titlePost }}
        </a>
      </mat-card-title>
    </mat-card-header>
    <img matCardImage [src]="post.imagePost" />
    <mat-card-content>
      <p>
        {{post.contentPost}}
      </p>
    </mat-card-content>
    <mat-card-footer class="card-footer">
      <mat-chip-list aria-label="info selection">

        <mat-chip color="accent" selected>{{post.tagsPost[0]}}</mat-chip>
        <mat-chip color="primary" selected>{{post.tagsPost[1]}}</mat-chip>

        <span style="flex: 1 1 auto;"></span>

        <button mat-raised-button matTooltip="Info about the post {{post.id}}" (click)="viewPost(post)">View
        </button>
      </mat-chip-list>
    </mat-card-footer>
  </mat-card>
</div>
