html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 5px;
}

.mat-chip-list-wrapper {
  margin: 4px !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
